vendor/
composer.lock
node_modules/
package-lock.json
.pnpm-store/
dist/
build/
public/build/
public/css/*.map
public/js/*.map
.DS_Store
Thumbs.db
*.log
.vscode/
.history/
.idea/
.env
.env.local
.env.*.local
*.sql
*.sql.gz
*.dump
.cache/
storage/cache/
tmp/
temp/
*.bak
*.tmp
*.hot-update.js
*.hot-update.json
*.orig
eg/